@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

body {
  height: 100vh;
  width: 80%;
  background-color: #0b2545;
  margin: 0 10% 0 10%;
}

h2 {
  margin-top: 20px;
  color: #13315c;
  font-weight:bold;
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
}

p {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logo-img {
  width: 200px;
}

#svg-img {
  width: 40px;
}

html {
  width: 100%;
}
main {
  display: flex;
  scroll-behavior: smooth;

  width: 100%;
  height: 80%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #8da9c4;

  background-position: center;
  overflow: auto;
}

#form {
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border-inline: 1px solid; */
}

.info-input {
  width: 100%;
  height: 100%;
  padding: 0 17px 0 17px;

  /* border-left: 1px solid; */
  /* border-radius: 8px; */
}

.div-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* border-left: 1px solid; */
    /* border-radius: 8px; */
  }

#info-input-img {
   border-left: 2px solid #13315c;
}

#info-img {
  width: 200px;
}

/* #rating {
    width:unset;
} */

#insert {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: stretch;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  width: 100%;
  font-size: 25px;

}

#register-button {
  width: 150px;
  font-size: 25px;
  border-radius: 25px;
  background-color: #81c3d7;
  color: #13315c;
  font-weight:bold;
  border: 2px solid;
}



input, select {
  background-color:inherit;
  border-style: none;
  border-bottom: 2px solid #13315c;
  font-size: 20px;
  width: 65%;
  color: #13315c;

}

label {
  color: #13315c;

}



::placeholder { 
  color: #4682B4;
  opacity: 1; 
}