@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");

body {
  height: 100vh;
  width: 80%;
  background-color: #0b2545;
  margin: 0 10% 0 10%;
}

h2 {
  margin-top: 20px;
  color: #13315c;
  font-weight: bold;
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
}

h3 {
  color: #13315c;
  font-weight: bold;
}

p {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logo-img {
  width: 200px;
}

#svg-img {
  width: 40px;
}

html {
  width: 100%;
}

main {
  display: flex;
  scroll-behavior: smooth;

  width: 100%;
  height: 80%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #8da9c4;

  background-position: center;
  overflow: auto;
}

.info-movie {
  width: 75vw;
 

  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* border-inline: 1px solid; */
  
}

#movie {
  width: 30vw;
  height: 15vw;
  min-width: 320px;
  min-height: 142px;
  margin-top: 10px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border-inline: 1px solid; */
  border: 5px solid;
  border-radius: 25px;
  border-color:#0b2545;
}

#div-img {
  width: 50%;
  height: 100%;
}

#movie-cover {
  width:100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 2px solid #0b2545;
}

#div-info {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: inherit;
  padding: 0 5px 0 0;
  justify-content: space-evenly;
}


#div-info h3 {
  font-size: inherit;
  
}

.info-input {
  width: 100%;
  height: 100%;
  padding: 0 17px 0 17px;

  /* border-left: 1px solid; */
  /* border-radius: 8px; */
}

.div-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* border-left: 1px solid; */
  /* border-radius: 8px; */
}

#info-input-img {
  border-left: 2px solid #13315c;
}



/* #rating {
    width:unset;
} */

#insert {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: stretch;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  width: 100%;
  font-size: 25px;
}

#register-button {
  width: 150px;
  font-size: 25px;
  border-radius: 25px;
  background-color: #81c3d7;
  color: #13315c;
  font-weight: bold;
  border: 2px solid;
}

input,
select {
  background-color: inherit;
  border-style: none;
  border-bottom: 2px solid #13315c;
  font-size: 20px;
  width: 65%;
  color: #13315c;
}

label {
  color: #13315c;
}



a {
  text-decoration: none;
}